﻿<div class="schedule-card">
  <div class="schedule-card__wrapper">
    <div class="schedule-card__header">
      <div class="name scheduler-group-header-content">
        <p class="text-white">
          <span>{{ weekDay(data.sheduleDate) }}
            </span> {{ data.sheduleDate | date:'d' }} {{ getMonth(data.sheduleDate) }}
        </p>
      </div>
      <div class="name grey">
        <span class="text-white">{{ data.doctorName }}</span>
      </div>
      <div class="name grey">
        <i class="text-white">{{ data.specialityName }}</i>
      </div>
      <div class="name blue">
        <p>{{ data.lpuName }}, (к.{{ data.cabNum }})</p>
      </div>
      <div class="name resources-in-head green">
        <div>
          <span>{{ data.resourceFromTime | date: 'HH:mm' }} - {{ data.resourceToTime | date: 'HH:mm' }}</span>
          <ng-container *ngFor="let item of data.forHeader">

            <div class="resources-in-head__extra" *ngIf="!!item">
              <span
                *ngIf="!item.apointment && item.quoteStatus !== 'Врач не принимает' && item.quoteStatus !== 'Принимает'">
                {{ item.quoteStatus }} ({{ item.timeFrom | date: 'HH:mm' }} - {{ item.timeTo | date: 'HH:mm' }})
              </span>
            </div>
          </ng-container>
          <div style="display: none" #itemDuration>{{data.duration}}</div>
        </div>
      </div>
    </div>

    <div class="schedule-card__content">
      <div class="schedule-card__item" *ngFor="let item of data.scheduleList; let i = index;" matTooltip="{{item.tooltip}}"
           (contextmenu)="rightClick($event, item)"
           [ngClass]="{
				'apointment-false': !item.apointment,
				'two-patients': item.patientsCrossing,
				'apointment-red': !item.apointment && item.patients.length !== 0,
				'not-recording': i !==0 && i !== data.scheduleList.length - 1 && item.quoteCrossing
				|| item.quoteStatus === 'Принимает' && item.patients.length !== 0
				|| item.quoteStatus === 'Врач не принимает' && item.patients.length !== 0
			}">
        <p
          *ngIf="!item.apointment && item.quoteStatus !== 'Принимает'"><span *ngIf="item.patients.length !== 0">{{ item.timeFrom | date: 'HH:mm' }}</span> {{ item.quoteStatus }}</p>
        <p
          *ngIf="item.apointment && i !== data.scheduleList.length - 1">{{ item.timeFrom | date: 'HH:mm'}} </p>
      </div>
    </div>
  </div>
  <app-right-click-menu *ngIf="!isHidden" [x]="xPosTabMenu" [y]="yPosTabMenu"></app-right-click-menu>
</div>
<jw-modal id="custom-modal-1">
  <div class="record-create" *ngIf="dataModal">
    <div class="record-create__body">
      <h2 class="record-create__header">
        <span class="material-icons">content_paste</span>
        {{ dataModal.fullName }}
      </h2>
      <table class="record-create__table">
        <tbody>
        <tr>
          <th>Дата:</th>
          <td>{{ dataModal.timeFrom | date: 'dd.MM.yyyy' }}</td>
		  <td>{{ dataModal.timeFrom | date: 'hh:mm' }} - {{ dataModal.timeTo | date: 'hh:mm' }}</td>
        </tr>
        <tr>
          <th>Врач:</th>
          <td>{{ dataModal.doctorName }}</td>
        </tr>
        <tr>
          <th>Кабинет:</th>
          <td>{{ dataModal.cabNum }}</td>
        </tr>
        <tr>
          <th>Полис ОМС:</th>
          <td>{{ dataModal.policy }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <button class="record-create__close" (click)="closeModal('custom-modal-1');">
      <span class="material-icons">close</span>
    </button>
  </div>
</jw-modal>
<jw-modal id="custom-modal-2" (click)="closeModal('custom-modal-2')">
  <div class="record-success">
    <div class="record-success__header">Запись создана</div>
    <div class="record-success__body">
      <span class="material-icons">check_circle</span>
    </div>
  </div>
  <!--  <button (click)="closeModal('custom-modal-2');">Close</button>-->
</jw-modal>
<jw-modal id="custom-modal-3">
  <div class="record-cancel">
    <h2 class="record-cancel__header">
      <span class="material-icons">error</span>
      <span class="record-cancel__header-text">Отмена записи</span>
    </h2>
    <div class="record-cancel__body">
      <p class="text-center">Врач и пациент будут уведомлены об отмене записи</p>
    </div>
    <div class="record-cancel__action">
      <button class="btn btn-xs btn-danger" (click)="deletePatient()">Отменить</button>
    </div>
    <div class="record-cancel__footer">
      <button (click)="closeModal('custom-modal-3');">Вернуться к расписанию</button>
    </div>
  </div>
</jw-modal>
